

<div class="min-h-screen background-cover relative">
    <div class="min-h-95vh w-full flex justify-center items-center">
        <div class="flex flex-col min-h-xs min-w-md bg-white rounded-lg shadow-lg p-6">
          <div class="flex justify-between pb-4 border-b border-orange">
            <p class="font-black text-3xl text-orange tracking-wide">F<span class="text-black">oo</span>d <span class="text-black text-lg -ml-2">Delivery</span></p>
          </div>
          <div class="mt-4 py-4 px-10">

              <div class="flex flex-col mb-6">
                <p *ngIf="errorMessage" class="text-red-light italic text-small">

                  {{errorMessage}}

                </p>
                </div>

            <div class="flex flex-col mb-6">
              <label for="" class="text-black text-sm font-semibold mb-2">Email</label>
              <input type="text" [(ngModel)]="username"  class="py-2 px-3 shadow rounded bg-grey-lighter border border-grey-lighter" placeholder="John Doe">
            </div>
            <div class="flex flex-col mb-10">
              <label for="" class="text-black text-sm font-semibold mb-2">Password</label>
              <input type="password"  [(ngModel)]="password"  class="py-2 px-3 shadow rounded bg-grey-lighter border border-grey-lighter" placeholder="**********">
            </div>
            <div class="flex justify-end">
              <button (click)="onLogin()"  class="text-white bg-orange shadow-lg font-semibold text-base py-3 px-4 rounded hover:bg-orange-dark">Login</button>
            </div>
          </div>
        </div>
    </div>
  </div>
  